.confirm-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.date-wrapper {
  display: flex;
  flex-direction: row;
}

.date-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: baseline;
}

.date-label {
  font-weight: bold;
  margin-right: 24px;
  margin-bottom: 16px;
}
.header {
  font-size: 24px;
}
