.summary-card-header {
  display: flex;
  justify-content: space-between;
}
.total-days {
  margin-left: 4px;
}
.flex-row {
  display: flex;
}
.ml-4 {
  margin-left: 16px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-wrapper label {
  margin-bottom: 6px;
}

.input-wrapper label span {
  color: red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 16px;
}

.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  align-items: baseline;
  flex-grow: 1;
}
.input-wrapper label span {
  color: red;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.input-wrapper label {
  margin-bottom: 6px;
  width: 256px;
}

.title-select {
  max-width: none !important;
}

.traveller-card {
  // min-width: 400px;
  margin-bottom: 0px !important;
}

.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}
