<nb-card status="primary">
  <nb-card-header>
    <div class="summary-card-header">
      <div id="country">{{ country.countryName }}</div>
      <div id="package-amount-fee" class="font-size">{{ costPerPerson }} THB per person</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div>
      Trip date:
      <span class="date-range" id="date-range">{{ date.start | date: 'dd MMM yyyy' }} - {{ date.end | date: 'dd MMM yyyy' }}</span>
      <span class="total-days" id="total-days"> (Total {{ totalDay }} Days)</span>
    </div>
  </nb-card-body>
</nb-card>

<nb-card status="primary">
  <nb-card-header>
    <div class="flex-row">
      <div>Traveller Detail:</div>
      <div class="ml-4">{{ totalPerson }} person{{ totalPerson > 1 ? 's' : '' }}</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>Traveller 1</nb-card-header>
      <nb-card-body>
        <div class="table" [formGroup]="travellerForm">
          <div class="row">
            <div class="input-wrapper">
              <label>Title<span>*</span></label>
              <nb-select class="title-select" fullWidth placeholder="Title*" formControlName="title">
                <nb-option value="Mr.">Mr.</nb-option>
                <nb-option value="Ms.">Ms.</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>First name<span>*</span></label>
              <input nbInput fullWidth type="text" class="traveller-input" placeholder="" formControlName="firstName" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Last name<span>*</span></label>
              <input nbInput fullWidth type="text" class="traveller-input" placeholder="" formControlName="lastName" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Citizen ID</label>
              <input nbInput fullWidth type="text" class="traveller-input" placeholder="" formControlName="citizenId" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Passport</label>
              <input nbInput fullWidth type="text" class="traveller-input" placeholder="" formControlName="passport" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Date of Birth<span>*</span></label>
              <input nbInput fullWidth type="text" placeholder="" formControlName="dateOfBirth" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Beneficiary<span>*</span></label>
              <input nbInput fullWidth type="text" placeholder="" formControlName="beneficiary" />
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header class="card-flex-header">
        <span>
          Contact for receiving all travellers policies
        </span>
      </nb-card-header>
      <nb-card-body>
        <div class="table" [formGroup]="contactForm">
          <div class="row">
            <div class="input-wrapper mb-4">
              <label>Mobile Number<span>*</span></label>
              <input nbInput fullWidth type="text" formControlName="mobileNo" />
            </div>
          </div>
          <div class="row">
            <div class="input-wrapper">
              <label>Email<span>*</span></label>
              <input nbInput fullWidth type="text" formControlName="email" />
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
  <nb-card-footer>
    <div><nb-icon icon="person"></nb-icon> x{{ totalPerson }}</div>
    <div>Total price: {{ costPerPerson * totalPerson }}</div>
  </nb-card-footer>
</nb-card>
