.policynumber {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}
.pic1 {
  display: flex;
}
.balance {
  margin-top: 50px;
}

.Kevin {
  display: flex;
}

.pic2 {
  margin-left: 81%;
}

.price {
  text-align: end;
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.card-flex-col {
  display: flex;
  flex-direction: column;
}

.card-flex-row {
  display: flex;
  flex-direction: row;
}
.nb_card {
  margin: 0 20px 30px 20px;
}
.confirm_btn {
  margin-top: 20px;
}
