<nb-layout-column>
  <h6 style="margin: 5px 5px 5px 20px;">From</h6>
  <nb-card class="nb_card">
    <nb-card-body class="card-flex">
      <div>
        <div class="card-flex-row">
          <div id="from-bank-name">Bank: {{ user.fromBankName }}</div>
          <div id="from-bank-no" class="policynumber">Account Number: {{ user.fromBankNo }}</div>
        </div>

        <div id="from-bank-balance" class="balance">Balance: {{ user.fromBankBalance }}</div>
      </div>
      <span class="pic1">
        <nb-user size="giant" name="Jonh Doe" title="Engineer" onlyPicture> </nb-user>
      </span>
    </nb-card-body>
  </nb-card>

  <h6 style="margin: 5px 5px 5px 20px;">To</h6>
  <nb-card class="nb_card">
    <nb-card-body class="card-flex">
      <div>
        <div class="card-flex-row">
          <div>Allianz Tech</div>
        </div>
        <div id="to-bank-refno" class="balance">Ref: 509-16713201</div>
      </div>
      <span class="pic1">
        <nb-user size="giant" name="Jonh Doe" title="Engineer" onlyPicture> </nb-user>
      </span>
    </nb-card-body>
  </nb-card>
  <div class="price">
    <h5 id="package-amount-fee">Amount: {{ costPerPerson | number: '1.2-2' }} THB</h5>
    <input type="text" nbInput shape="round" placeholder="add note" /><br />
    <button nbButton shape="round" class="confirm_btn" status="primary">Confirm</button>
  </div>
</nb-layout-column>
