<div class="main-transaction">
  <h1>Transfer</h1>
  <nb-card status="primary">
    <nb-card-header>From</nb-card-header>
    <nb-card-body class="card-grid">
      <div id="from-bank-name" class="bold bigger-account">{{ user.firstName + ' ' + user.lastName }}</div>

      <div id="from-bank-balance" class="policynumber"><span class="bold mr-2">Balance </span>{{ user.fromBankBalance | number: '1.2-2' }} THB</div>

      <span class="d-grid">
        <nb-user size="giant" name="{{ user.firstName }}" onlyPicture> </nb-user>
      </span>

      <div id="from-bank-no" class="balance"><span class="bold mr-1">Account No. </span>{{ user.fromBankNo }}</div>
    </nb-card-body>
  </nb-card>

  <nb-card status="primary">
    <nb-card-header>To</nb-card-header>
    <nb-card-body class="card-grid">
      <div id="to-bank-name" class="bold bigger-account">Allianz Bank</div>
      <div id="amount" class="policynumber"><span class="bold mr-2">Amount </span>{{ costPerPerson | number: '1.2-2' }} THB</div>
      <span class="d-grid">
        <nb-user size="giant" name="Allianz" onlyPicture> </nb-user>
      </span>
      <div id="to-bank-refno" class="balance"><span class="bold mr-1">Ref No. </span>509-16713201</div>
    </nb-card-body>
  </nb-card>

  <div class="note-and-confirm">
    <button id="btn-payment-confirm" nbButton status="primary" (click)="onConfirm()" disabled="isSubmitted">
      Confirm
    </button>
  </div>
</div>
