.policynumber {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}
.d-flex {
  display: flex;
}

.balance {
  margin-top: 32px;
}

.pic2 {
  margin-left: 81%;
}

.price-card {
  margin-top: 1.875rem;
  padding: 0px 32px;
}

.price {
  display: flex;
  justify-content: flex-end;
  // align-items: baseline;
  margin-bottom: 0px !important;
}

.note-and-confirm {
  display: flex;
  align-items: baseline;
}
.note {
  margin-right: 16px;
}
.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}

.card-flex-col {
  display: flex;
  flex-direction: column;
}

.card-flex-row {
  display: flex;
  flex-direction: row;
}
.package-amount-fee {
  margin-right: 18px;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(2px);
}
.space-after-price {
  margin-right: 8px !important;
}

.space-after-amount,
.space-after-note {
  margin-right: 12px !important;
}

.confirm-btn {
  margin-top: 20px;
}
.main-transaction {
  width: 70vw;
}
.bold {
  font-weight: bold;
}
.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.bigger-account {
  font-size: 20px;
}
.to {
  margin-bottom: 0px !important;
}
