<div class="main-transaction">
  <h1>Transfer</h1>
  <nb-card status="primary">
    <nb-card-header>From</nb-card-header>
    <nb-card-body class="card-flex">
      <div>
        <div class="card-flex-row">
          <div id="from-bank-name" class="bold bigger-account">{{ user.fromBankName }}</div>
          <div id="from-bank-balance" class="policynumber">
            <span class="bold mr-2">Balance </span>{{ user.fromBankBalance | number: '1.2-2' }} THB
          </div>
        </div>

        <div id="from-bank-no" class="balance"><span class="bold mr-1">Account No. </span>{{ user.fromBankNo }}</div>
      </div>
      <span class="d-flex">
        <nb-user size="giant" name="user.firstName+user.lastName" onlyPicture> </nb-user>
      </span>
    </nb-card-body>
  </nb-card>

  <nb-card status="primary" class="to">
    <nb-card-header>To</nb-card-header>
    <nb-card-body class="card-flex">
      <div>
        <div class="card-flex-row">
          <div id="to-bank-name" class="bold bigger-account">Allianz Bank</div>
        </div>
        <div id="to-bank-refno" class="balance"><span class="bold mr-1">Ref. </span>509-16713201</div>
      </div>
      <span class="pic1">
        <nb-user size="giant" name="Allianz" onlyPicture> </nb-user>
      </span>
    </nb-card-body>
  </nb-card>
  <nb-card class="price-card">
    <div class="price">
      <!-- <h5>
        <span class="space-after-note">Note </span
        ><input type="text" nbInput shape="semi-round" placeholder="add note" [(ngModel)]="note" id="payment-note" class="note" /><br />
      </h5> -->
      <div class="note-and-confirm">
        <span> </span><span id="amount-word" class="package-amount-fee space-after-amount">Amount </span>
        <span id="package-amount-fee" class="package-amount-fee space-after-price">{{ costPerPerson | number: '1.2-2' }}</span>
        <span id="thb" class="package-amount-fee">THB</span>
        <button id="btn-payment-confirm" nbButton class="confirm-btn" status="primary" (click)="onConfirm()" disabled="isSubmitted">
          Confirm
        </button>
      </div>
    </div>
  </nb-card>
</div>
