<nb-card class="traveller-card" status="primary">
    <nb-card-header>Traveler 1</nb-card-header>
    <nb-card-body>
        <div class="table" [formGroup]="travellerForm">
            <div class="row">
                <div class="input-wrapper">
                    <label>Title<span>*</span></label>
                    <nb-select class="title-select" fullWidth placeholder="Title*" formControlName="title">
                        <nb-option value="Mr.">Mr.</nb-option>
                        <nb-option value="Ms.">Ms.</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>First name<span>*</span></label>
                    <input nbInput fullWidth type="text" class="traveller-input" placeholder=""
                        formControlName="firstName">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Last name<span>*</span></label>
                    <input nbInput fullWidth type="text" class="traveller-input" placeholder=""
                        formControlName="lastName">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Citizen ID</label>
                    <input nbInput fullWidth type="text" class="traveller-input" placeholder=""
                        formControlName="citizenId">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Passport</label>
                    <input nbInput fullWidth type="text" class="traveller-input" placeholder=""
                        formControlName="passport">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Date of Birth<span>*</span></label>
                    <input nbInput fullWidth type="text" placeholder="" formControlName="dateOfBirth">
                </div>
            </div>
            <div class="row">
                <div class="input-wrapper">
                    <label>Beneficiary<span>*</span></label>
                    <input nbInput fullWidth type="text" placeholder="" formControlName="beneficiary">
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>