<nb-card
  class="traveller-card"
  accent="primary"
  class="traveller-form"
  [accent]="editable ? 'primary' : ''"
  [status]="!editable ? 'primary' : ''"
  class="contact-form"
>
  <nb-card-header class="card-flex-header">
    Traveller
  </nb-card-header>
  <nb-card-body class="mb-4">
    <div class="traveller-layout" [formGroup]="travellerForm">
      <div class="input-wrapper title">
        <label class="bold">
          <span>Title</span>
        </label>
        <nb-select
          class="title-select"
          fullWidth
          placeholder="Title"
          formControlName="title"
          (ngModelChange)="onChangeTitle()"
          id="dd-traveller-title"
          [status]="title"
        >
          <nb-option value="Mr."><span id="option-mr">Mr.</span></nb-option>
          <nb-option value="Ms."><span id="option-mrs">Ms.</span></nb-option>
          <nb-option value="Mrs."><span id="option-ms">Mrs.</span></nb-option>
        </nb-select>
      </div>
      <div class="input-wrapper first-name">
        <label class="bold">First name</label>
        <input
          nbInput
          fullWidth
          type="text"
          class="traveller-input"
          placeholder=""
          formControlName="firstName"
          (ngModelChange)="onChangeFirstName()"
          id="traveller-firstname"
          [status]="firstName"
          placeholder="First name"
        />
      </div>
      <div class="input-wrapper last-name">
        <label class="bold">Last name</label>
        <input
          nbInput
          fullWidth
          type="text"
          class="traveller-input"
          placeholder=""
          formControlName="lastName"
          (ngModelChange)="onChangeLastName()"
          id="traveller-lastname"
          [status]="lastName"
          placeholder="Last name"
        />
      </div>
      <div class="input-wrapper id-type">
        <label class="bold">Identification</label>
        <nb-select
          class="identification-select"
          fullWidth
          placeholder="Select identification"
          formControlName="identificationType"
          id="identification-type"
          [status]="identificationType"
          placeholder="Identification"
        >
          <nb-option value="citizenId"><span id="option-citizenId"> Citizen ID</span></nb-option>
          <nb-option value="passport"><span id="option-passport">Passport</span></nb-option>
        </nb-select>
      </div>
      <div class="input-wrapper id-no">
        <input
          nbInput
          fullWidth
          type="text"
          class="traveller-input"
          placeholder=""
          formControlName="identificationNumber"
          (ngModelChange)="onChangeIdentification()"
          id="identification"
          [status]="identificationNumber"
          placeholder="Identification number"
        />
      </div>
      <div class="input-wrapper date-of-birth">
        <label class="bold">Date of birth</label>
        <input
          nbInput
          id="traveller-date"
          fullWidth
          type="date"
          formControlName="dateOfBirth"
          (ngModelChange)="onChangeDateOfBirth()"
          [status]="dateOfBirth"
        />
      </div>
      <div class="input-wrapper beneficiary">
        <label class="bold">Beneficiary</label>
        <input
          nbInput
          fullWidth
          type="text"
          placeholder=""
          formControlName="beneficiary"
          (ngModelChange)="onChangeBeneficiary()"
          id="benefit-name"
          [status]="beneficiary"
          placeholder="Beneficiary"
        />
      </div>
    </div>
  </nb-card-body>
</nb-card>
