.traveller-form {
  width: 100%;
}

.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-grow: 1;
  > label {
    margin-bottom: 6px;
    min-width: 160px;
    span {
      color: red;
    }
  }
}

.row {
  margin-bottom: 24px;
  &.last {
    margin-bottom: 0px;
  }
}

.d-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.title-select {
  max-width: none !important;
}

.traveller-card {
  margin-bottom: 0px !important;
  min-width: 100%;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}
.identification-select {
  margin-right: 4px;
}
.bold {
  font-weight: bold;
}
