.input-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  align-items: baseline;
  flex-grow: 1;
}
.input-wrapper label span {
  color: red;
}
.row {
  margin-bottom: 24px;
}

.d-row {
  display: flex;
  flex-direction: row;
}

.input-wrapper label {
  margin-bottom: 6px;
  min-width: 160px;
}

.title-select {
  max-width: none !important;
}

.traveller-card {
  // min-width: 400px;
  margin-bottom: 0px !important;
  min-width: 100%;
}

.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}
.identification-select {
  margin-right: 4px;
}
.traveller-form {
  width: 100%;
}
