.summary-package {
  display: flex;
  justify-content: space-between;
}

.total-days {
  margin-left: 9px;
}

.insurance-summary {
  width: 100%;
  height: 100%;
}

.bold-text {
  font-weight: bold;
}

.font-size {
  font-size: 17px;
}
.trip {
  margin-right: 7px;
}
