@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$nb-themes: nb-register-theme(
  (
    color-primary-default: #2750ba,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
    font-family-primary: Lato,
    card-padding: 1.5rem,
    input-basic-background-color: white,
    input-success-background-color: white,
    input-danger-background-color: white,
    select-outline-success-background-color: white,
    select-outline-danger-background-color: white,
    select-outline-basic-background-color: white,
    select-min-width: 10rem,
    card-header-text-font-size: 22px,
    icon-font-size: 2rem
  ),
  default,
  default
);
