.contact-form {
  width: 100%;
  margin-bottom: 0px;
}
.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 45%;
  > label {
    margin-bottom: 6px;
    > span {
      color: red;
    }
  }
}

.bold {
  font-weight: bold;
}

.mobile {
  width: 40% !important;
}

.mb-4 {
  margin-bottom: 16px;
}

.mr-2 {
  margin-right: 8px;
}

.ml-2 {
  margin-left: 8px;
}
