.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input-wrapper label {
  margin-bottom: 6px;
}

.input-wrapper label span {
  color: red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 16px;
}

.card-flex-header {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 24px;
  cursor: pointer;
  &.first {
    color: rgba(143, 155, 179, 0.5);
    margin-right: 4px;
  }
}
