<nb-card accent="primary" class="contact-form">
  <nb-card-header class="card-flex-header">
    <span>
      Contact for receiving traveller policy
    </span>
  </nb-card-header>
  <nb-card-body>
    <div [formGroup]="travellerForm">
      <div class="row">
        <div class="input-wrapper mb-4 mr-2 mobile">
          <label class="bold">Mobile Number</label>
          <input
            nbInput
            fullWidth
            type="text"
            formControlName="mobileNo"
            (ngModelChange)="onChangeMobileNumber()"
            id="traveller-phone"
            [status]="mobile"
          />
        </div>
        <div class="input-wrapper ml-2">
          <label class="bold">Email</label>
          <input nbInput fullWidth type="text" formControlName="email" (ngModelChange)="onChangeEmail()" id="traveller-email" [status]="email" />
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
