<nb-card status="primary">
  <nb-card-header class="card-flex-header">
    <span>
      Contact for receiving all travellers policies
    </span>
    <div>
      <!-- <nb-icon icon="save" status="control" [options]="{ animation: { type: 'pulse' } }" class="card-icon first">
            </nb-icon> -->
      <!-- <nb-icon icon="edit" status="control" [options]="{ animation: { type: 'pulse' } }" class="card-icon" (click)="toggleEditable()"></nb-icon> -->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="table" [formGroup]="travellerForm">
      <div class="row">
        <div class="input-wrapper mb-4">
          <label>Mobile Number<span>*</span></label>
          <input nbInput fullWidth type="text" formControlName="mobileNo" />
        </div>
      </div>
      <div class="row">
        <div class="input-wrapper">
          <label>Email<span>*</span></label>
          <input nbInput fullWidth type="text" formControlName="email" />
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
