.main-traveller-grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  column-gap: 24px;
}
.traveller {
  display: flex;
  flex-direction: row;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 70vw;
}
.traveller-form {
  width: 100%;
}
.contact-form {
  width: 70vw;
}
// .add-traveller-button-wrapper {
//   display: flex;
//   flex-grow: 1;
//   justify-content: center;
//   align-items: center;
//   grid-column-start: 2;
//   grid-column-end: 3;
//   border: 3px dashed blue;
//   transition: 0.5s;
// }
// .add-traveller-button-wrapper:hover {
//   background-color: rgba(0, 0, 0, 0.1);
// }
// .add-traveller-button {
//   width: 64px;
//   height: 64px;
//   border-radius: 32px !important;
// }
.btn-next {
  margin-top: 0px;
  // grid-row-end: 4;
}
.btn-next-2 {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.875rem;
  grid-column-start: 1;
  grid-column-end: 2;
}
.payment-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.traveller-summary {
  width: 70vw;
}
