<div *ngIf="!formFilled">
  <div class="main-traveller-grid">
    <div class="traveller" *ngIf="userInfo">
      <app-traveller-form [traveller]="userInfo" (beneficiaryChange)="handleBeneficiary($event)" class="traveller-form"></app-traveller-form>
    </div>

    <app-contact-form *ngIf="userInfo" class="contact-form" [traveller]="userInfo"></app-contact-form>
    <div class="btn-next-2">
      <button nbButton status="primary" id="btn-next" (click)="onNext()">Next</button>
    </div>

    <!-- <button nbButton status="primary" id="btn-next" class="btn-next" (click)="onNext()">Next</button> -->
  </div>
</div>
<div *ngIf="formFilled" class="traveller-summary">
  <app-traveller-summary
    [country]="selectedCountry"
    [date]="selectedDate"
    [totalDay]="totalDay"
    [totalPerson]="1"
    [costPerPerson]="costPerPerson"
    [traveller]="userInfo"
  ></app-traveller-summary>
  <div class="payment-btn-wrapper">
    <button nbButton id="btn-back" class="btn-back" (click)="gotoForm()">Back</button>
    <button nbButton id="btn-payment" (click)="showDialog()" status="primary">Payment</button>
  </div>
</div>
