<div *ngIf="!formFilled">
  <div class="main-traveller-grid">
    <div class="traveller" *ngIf="userInfo">
      <app-traveller-form 
        [traveller]="userInfo"
        (titleChange)="handleTitle($event)"
        (firstNameChange)="handleFirstName($event)"
        (lastNameChange)="handleLastName($event)"
        (citizenIdChange)="handleCitizenId($event)"
        (dateOfBirthChange)="handleDateOfBirth($event)"
        (beneficiaryChange)="handleBeneficiary($event)" 
        (mobileNumberChange)="handleMobileNumber($event)" 
        (emailChange)="handleEmail($event)"
        (identificationChange)="handleIdentification($event)"
        class="traveller-form">
      </app-traveller-form>
    </div>

    <app-contact-form *ngIf="userInfo" (mobileNumberChange)="handleMobileNumber($event)" (emailChange)="handleEmail($event)" class="contact-form" [traveller]="filledUserInfo"></app-contact-form>
    <div class="btn-next-2">
      <button nbButton status="primary" id="btn-next" (click)="onNext()">Next</button>
    </div>

    <!-- <button nbButton status="primary" id="btn-next" class="btn-next" (click)="onNext()">Next</button> -->
  </div>
</div>
<div *ngIf="formFilled" class="traveller-summary">
  <app-traveller-summary
    [country]="selectedCountry"
    [date]="selectedDate"
    [totalDay]="totalDay"
    [totalPerson]="1"
    [costPerPerson]="costPerPerson"
    [traveller]="filledUserInfo"
  ></app-traveller-summary>
  <div class="payment-btn-wrapper">
    <button nbButton id="btn-back" class="btn-back" (click)="gotoForm()">Back</button>
    <button nbButton id="btn-payment" (click)="showDialog()" status="primary">Payment</button>
  </div>
</div>
