.header {
  font-size: 24px;
}

.buttonLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.buttonLayout > div {
  display: flex;
  height: 100px;
  background: #2750ba;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  color: #f1f1f1;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }
}
