.package-card {
  height: 100%;
  width: 100%;
}
.header {
  font-size: 24px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  padding-bottom: 24px;
}

.button-structure {
  display: flex;
  flex-direction: row;
  /* background-color: #2750ba; */
  /* padding: 15px;
    margin: 10px; */
  border-radius: 15px;
  margin-bottom: 25px;
}

.detail {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  /* background: #2750ba; */
  /* margin: 10px; */
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 0px;
  font-size: 20px;
  /* color: #f1f1f1; */
  /* align-items: center; */
  justify-content: center;
}

.condition {
  font-size: 13px;
  margin-left: 8px;
  color: #778899;
}

.condition-price {
  margin-left: 5px;
}

.package-pic {
  display: flex;
  padding-left: 20px;
  justify-content: center;
}
