<div class="package-card" accent="primary">
  <div class="parent" *ngIf="packages.length > 0">
    <div *ngFor="let p of packages" class="button-structure">
      <div class="package-pic">
        <nb-user size="giant" name="{{ p.packageDetail }}" title="Engineer" color="#f1f1f1" id="package-{{ p.packageId }}-img" onlyPicture></nb-user>
      </div>
      <div class="detail" id="package-{{ p.packageId }}">
        <span>{{ p.packageDetail }}</span> <br />
        <span>
          <span>{{ p.packagePrice | number: '1.2' }} THB</span>
          <span *ngIf="p.conditionPrice !== 0 && p.condition" class="condition">
            <span>( {{ p.condition }}</span>
            <span class="condition-price"> {{ p.conditionPrice | number: '1.2' }} THB )</span>
          </span>
        </span>

        <!-- <div class="condition" >

        </div> -->
      </div>
    </div>
  </div>
  <div *ngIf="packages.length == 0">
    Please select your destination
  </div>
</div>
