<nb-card>
  <nb-card-header class="header">
    Package details
  </nb-card-header>
  <div class="parent" *ngIf="packages.length > 0">
    <div *ngFor="let p of packages" class="button-structure">
      <div class="package-pic">
        <nb-user size="giant" name="{{ p.packageDetail }}" title="Engineer" color="#f1f1f1" id="package-{{ p.packageId }}-img" onlyPicture></nb-user>
      </div>
      <div class="detail" id="package-{{ p.packageId }}">
        <span>{{ p.packageDetail }}</span> <br />
        <span>{{ p.packagePrice | number:"1.2" }} THB</span> <br />
        <div *ngIf="p.conditionPrice != null">
        <span>{{ p.condition }}</span> <br />
        <span>{{ p.conditionPrice | number:"1.2" }} THB</span> <br />
        </div>
      </div>
    </div>
  </div>
  <nb-card-body *ngIf="packages.length == 0">
    Please select your destination
  </nb-card-body>
</nb-card>
